extends ../layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-bluedark
        a.navbar-brand(href='#') CENTRAL DE CONTROL
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarTogglerDemo02
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Relleno
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search' placeholder='Buscar')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
    .container.bg-light.pt-3.pb-3.mt-3.mb-3.rounded
            .container
                .container.mt-3.shadow.p-4.text-center.bg-white.rounded
                    h1 23 DIAS SIN INCIDENTES
                .row.mt-3
                    .col-sm-6
                        .container.rounded.shadow.p-4.bg-white.text-center
                            p Revise la zona cada 8 horas Al presionar patrullar, el drone hara una revista automatica en puntos clave y enviara un reporte
                            a.btn.btn-lightblue(href='controles/patrullar') Patrullar
                    .col-sm-6
                        .container.rounded.shadow.p-4.bg-white.text-center
                            p Cuando detecte actividad inusual verifique el hecho con los cercanos al incidente. Si hay emergencia reporte.
                            a.btn.btn-danger(href='controles/alarmas') Reportar