extends ../layout

block content
    .container.bg-light.rounded.mt-3.mb-3.pt-3.pb-3
        h2 Donacion
        form.was-validated(action="")
            .row
                .col-lg-6
                    label(for="nombre") Nombre:
                    input.form-control#nombre(type="text" placehloder="Nombre" required)
                    .valid-feedback
                        |Valido.
                    .invalid-feedback
                        |Ingrese un nombre por favor.
                .col-lg-6
                    label(for="nombre") Cantidad:
                    input.form-control#nombre(type="text" placehloder="Nombre" required)
                    .valid-feedback
                        |Valido.
                    .invalid-feedback
                        |Ingrese un numero por favor.