meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' type='text/css' href='node_modules/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='css/style.css')
title Document
form.needs-validation(novalidate)
  .form-center
    .col-md-6.mb-3
      label(for='validationCustom01') Primer Nombre
      input.form-control#validationCustom01(type='text' value='Mark' required)
      .valid-feedback.
        
        
      .col-md-3.mb-3
        label(for='validationCustom05') segundoNombre
        input.form-control#validationCustom05(type='text' required)
        .invalid-feedback.
          
          
        .col-md-3.mb-3
          label(for='validationCustom05') apellidoPaterno
          input.form-control#validationCustom05(type='text' required)
          .invalid-feedback.
            
            
        .col-md-6.mb-3
          label(for='validationCustom02') apellido Materno
          input.form-control#validationCustom02(type='text' value='Otto' required)
          .valid-feedback.
            
            
      .col-md-6.mb-3
        label(for='validationCustom02') apellido usuario
        input.form-control#validationCustom02(type='text' value='Otto' required)
        .valid-feedback.
          
          
      .col-md-3.mb-3
        label(for='validationCustom05') ingrese su password
        input.form-control#validationCustom05(type='text' required)
        .invalid-feedback.
          
          
      .col-md-3.mb-3
        label(for='validationCustom04') ingrese el rol
        select.custom-select#validationCustom04(required)
          option(selected disabled value) elige
          option administrador
          option usuario
        .invalid-feedback.
          
          
    .form-group
      .form-check
        input.form-check-input#invalidCheck(type='checkbox' required)
        label.form-check-label(for='invalidCheck').
          
          acepto las condiciones
          
        .invalid-feedback.
          
          
    button.btn.btn-primary(type='submit') Submit form
script.
  
  // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
  