extends layout

block content
  .container.main-container.bg-bluedark.mt-3.rounded.p-3
    h1 SALVEMOS LA AMAZONIA

  //.container
    .mt-3#main_map.rounded

  .container.mt-3
    .row
      .col-sm-6.mb-3
        .container.bg-white.rounded.shadow
          .container.p-3
            img.img-fluid.mx-auto.d-block(src='/images/drones-for-mountain-biking.jpg' alt='Drone en Montañas')
          h5.card-body.text-center.
            
            Proporcionaremos mecanismos de alerta temprana en las areas protegidas,de manera automatica.
            
      .col-sm-6
        .container.container-btn.bg-white.rounded.shadow
          .container-inside.row
            // button.btn.btn-block.btn-lightblue.align-self-center(type='button' data-toggle='modal' data-target='#exampleModal') Acceder a Controles
            <a href="/controles" class="btn btn-block btn-lightblue align-self-center">Acceder a Controles</a>
        .container.container-btn.bg-white.rounded.mt-3.shadow.text-center
          
          .text-center.p-3
            h4.text-center.mt-4 Apoya la causa economicamente
            a(href='App/InicioControl.html')
            a.btn.btn-block.btn-lightgreen.align-self-center.mt-3(href='/donaciones') Hacer Donacion
    //  Button trigger modal 
    //  Modal 
    .modal.fade#exampleModal(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          form(action="").was-validated
            .modal-header.bg-dark.text-light
              h5.modal-title#exampleModalLabel Sistema Antichaqueos
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
                p.card-text
                input.form-control.mt-3#usuario(type='text' name placeholder='Usuario' required)
                input.form-control.mt-3#password(type='password' name placeholder='Password' required)
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
              //input.btn.btn-success(type='submit' value='Registrar')
              a.btn.btn-success(href="app/inicioControl.pug") Registrar

  script(src="/javascripts/map.js")