.form-all {
    font-family: Didact Gothic, sans-serif;
  }
  .form-all .qq-upload-button,
  .form-all .form-submit-button,
  .form-all .form-submit-reset,
  .form-all .form-submit-print {
    font-family: Didact Gothic, sans-serif;
  }
  .form-all .form-pagebreak-back-container,
  .form-all .form-pagebreak-next-container {
    font-family: Didact Gothic, sans-serif;
  }
  .form-header-group {
    font-family: Didact Gothic, sans-serif;
  }
  .form-label {
    font-family: Didact Gothic, sans-serif;
  }

  .form-label.form-label-auto {
    
  display: inline-block;
  float: left;
  text-align: left;

  }

  .form-line {
    margin-top: 12px 36px 12px 36px px;
    margin-bottom: 12px 36px 12px 36px px;
  }

  .form-all {
    width: 550px;
  }

  .form-label.form-label-left,
  .form-label.form-label-right,
  .form-label.form-label-left.form-label-auto,
  .form-label.form-label-right.form-label-auto {
    width: 150px;
  }

  .form-all {
    font-size: 18px
  }
  .form-all .qq-upload-button,
  .form-all .qq-upload-button,
  .form-all .form-submit-button,
  .form-all .form-submit-reset,
  .form-all .form-submit-print {
    font-size: 18px
  }
  .form-all .form-pagebreak-back-container,
  .form-all .form-pagebreak-next-container {
    font-size: 18px
  }

  .supernova .form-all, .form-all {
    background-color: #fff;
    border: 1px solid transparent;
  }

  .form-all {
    color: #555;
  }
  .form-header-group .form-header {
    color: rgb(255, 255, 255);
  }
  .form-header-group .form-subHeader {
    color: #555;
  }
  .form-label-top,
  .form-label-left,
  .form-label-right,
  .form-html,
  .form-checkbox-item label,
  .form-radio-item label {
    color: #555;
  }
  .form-sub-label {
    color: #6f6f6f;
  }

  .supernova {
    background-color: undefined;
  }
  .supernova body {
    background: transparent;
  }

  .form-textbox,
  .form-textarea,
  .form-radio-other-input,
  .form-checkbox-other-input,
  .form-captcha input,
  .form-spinner input {
    background-color: undefined;
  }

    .supernova {
      height: 100%;
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: center top;
    }
    .supernova {
      background-image: url("https://shots.jotform.com/elton/pattern/pattern-eo2z.png");
    }
    #stage {
      background-image: url("https://shots.jotform.com/elton/pattern/pattern-eo2z.png");
    }
  
  .form-all {
    background-image: none;
  }

  .form-all {
    position: relative;
  }
  .form-all:before {
    content: "";
    background-image: url("https://images.ctfassets.net/7rifqg28wcbd/2RKismvB2PvzYJzOyIjzSz/a68f31796884c2a7ede353bcb0ae9238/NEW_PP_LOGO-1.png");
    display: inline-block;
    height: 80px;
    position: absolute;
    background-size: 331px 80px;
    background-repeat: no-repeat;
    width: 100%;
  }
  .form-all {
    margin-top: 90px !important;
  }
  .form-all:before {
    top: -90px;
    background-position: top center;
  }
         
.ie-8 .form-all:before { display: none; }
.ie-8 {
  margin-top: auto;
  margin-top: initial;
}
.form-label-left{
    width:150px;
}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:150px;
}
body, html{
    margin:0;
    padding:0;
    background:#fff;
}

.form-all{
    margin:0px auto;
    padding-top:0px;
    width:550px;
    color:#555 !important;
    font-family:'Didact Gothic';
    font-size:18px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
    color: false;
}