extends ../../layout

block content
    .container.bg-white.p-4.mt-4.text-center.rounded
        div
            div
                h3 Activacion de Alarmas
            br
            div
                button.btn.btn-danger ALERTA
            br
            h3
                |Informe De Incidentes
                br
                br
                textarea(cols='50' rows='5')
            div
                button.btn.btn-danger Encienda Las Alarmas