extends ../../layout

block content

    .container.rounded.bg-light.mt-3.mb-3.pt-3.pb-3
        h1 Patrullar
        .container
            .mt-3#main_map.rounded
    script(src="/javascripts/map.js")