extends ../layout

block content
    a(href="/bicicletas") Volver
    .container.bg-light.rounded.mt-3.mb-3.pt-3.pb-3
        h1 Nueva Bicicleta

        form(action="/bicicletas/create" method="post")
            .row
                .col-lg-6.mt-3
                    label(for="id") ID:
                    input.form-control(type="text")
                .col-lg-6.mt-3
                    label(for="") Color:
                    input.form-control(type="text")
            .row
                .col-lg-6
                    label(for="id") Longitud:
                    input.form-control(type="text")
                .col-lg-6
                    label(for="id") Latitud:
                    input.form-control(type="text")
            .row
                .col-lg-12
                    label(for="id") Modelo:
                    input.form-control(type="text")
