extends ../layout

block content
    .container.bg-light.rounded.mt-3.mb-3.pt-3.pb-3
        h2 Lista de Bicicletas
        table.table
            thead
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
            tbody
                each bici in bicis
                    tr
                        th(scope='row')
                            = bici.id
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion